:root {
  --font-sans: "Inter Variable";
  --font-mono: "JetBrains Mono Variable";
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
}

@media (max-width: 899px) {
  body {
    overflow: auto;
  }
}
